@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #eee;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
}
#headerBlock{
    background-color: #2874f0;
    height: 56px;
}
#headerBlock article{
    display: flex;
    /* background-color: red; */
    width: 70%;
    height: 56px;
    margin-left: 10%;
    margin-right: 10%;
    /* margin: 0 auto; */
    color: white;
    align-items: center;
}
.leftBlock{
    width: 70%;
    display: flex;
    /* background-color:crimson; */
}

.logoBlock {
    width: 15%;
    display: flex;
    flex-direction: column;
}
.searchBlock{
    width:85%;
}
.parentlogo img{
    width:80px;
}
.explore{
    color:#f0f0f0;
}
.plus{
    color: #ffe500;
    font-weight: bold;
    margin-right: 2px;

}
.logoBlock a{
    text-decoration: none;
    font-style: italic;
    font-size: 12px;
    text-transform: capitalize;
}
.childlogo img{
    width:10px;
    /* height: 20px; */
}



/----------SEARCH BLOCK STARTS HERE---------/
.searchBlock form{
    display: flex;
    width: 100%;
    
}
.searchBlock form input{
    width: 95%;
    height: 40px;
    padding: 0 0 0 30;
    border-radius: 2px;
    border: none;
    font-size: 15px;
}
.searchIcon{
    position: relative;
}
.searchBlock i{
    color: #2874f0;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top:4px;
    left: -28px;
}
/----------SEARCH BLOCK ENDS HERE---------/
::placeholder{
    font-size: large;
}
.rightBlock{
    width: 30%;
    display: flex;
    
    /* background-color: hotpink; */
}
.rightBlock > ul{
    list-style: none;
    display: flex;
    
}
.rightBlock > ul li{
    margin: 0px 30px;

}
.rightBlock > ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}
.rightBlock .login{
    background-color: #fff;
    color: blue;
    padding: 8px 50px;
    font-weight: bold;
}
.dropdown{
    position: absolute;
    list-style: none;
    background-color: #fff;
    top:57px;
    width:300px;
    display:none;
    left:750px;
}
.dropdown li{
    margin:0 !important;
}
.dropdown li a{
    margin:0;
    color: black !important;
    padding: 12px 18px !important;
    display: inline-block;
    width:100%;
    border-bottom: 1px solid #eee;

}
.rightBlock ul li:hover > .dropdown{
    display: block;
}
.signup li{
    list-style: none;
    justify-content: end;
}
.signupblock > ul{
    list-style: none;
    display: flex;
}
.dropdown aside{
    position: relative;
}
.arrowup {
    height: 0;
    width:0;
    border-bottom: 12px solid #fff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position:absolute;
    top:-10px;
    margin: auto;
    left:46%;
}

#offerBlock{
    height:110px;
    background: #fff;
    border-bottom: 1px solid #ccc;

}
#offerBlock article{
    width:90%;
    margin:0 auto;
    display:flex;
    height:110px;
    align-items: center;
}
#offerBlock article div{
    flex:1;

}
#offerBlock article div img{
    width:70px;
}
#offerBlock article div a{
    display:flex;
    flex-direction: column;
    text-decoration: none;
    color: #111;
}

    /* margin-top: 0%; */

#menuMiddle {
    width: 100%;
    background-color: #fff;
    height: 50px;
    border-bottom: 1px solid #ccc;

}
#menuMiddle nav{
    width:90%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
}
#menuMiddle nav>ul{
    list-style: none;
    display: flex;
    width: 100%;
    text-align: center;
    
}
#menuMiddle nav>ul li{
    margin-right:70px;
    position: relative;
} 
#menuMiddle nav>ul li a{
    color: #111;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 15px;
}

.megaMenu{
    position: absolute;
    width:1200px !important;
    background-color: #fff;
    display: flex;
    height: 85vh;
    top: 35px;
    text-align: left;
    display: none;
}
.megaMenu div{
    flex:1;
}
.megaMenu div:nth-child(odd){
    background-color: #fff;
}

.megaMenu div:nth-child(even){
    background-color: #efefef2e;
}
.megaMenu ul{
    list-style: none;
}
.megaMenu ul li{
    margin: 10px 0 !important;
}
.megaMenu ul li a{
padding:2px 30px;
display: block;
font-weight: normal !important;
font-size:14px !important ;
}
#menuMiddle ul li:hover>.megaMenu{
    display: flex;
}
#slideblock article img
{
  width: 100%;
  height: 280px;
  object-fit: cover;

}